@tailwind base;
@tailwind components;
@tailwind utilities;

.jarvis-react-avatar {
  width: 150px;
  height: 150px;
}

@media (max-width: 640px) {
  .jarvis-react-avatar {
    width: 128px;
    height: 128px;
  }
}
